.html {
box-sizing: border-box;
font: color white;
}

.body {
    background-image:url(images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
       
}
.container {
    max-width: 1030px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    Font-size: 18px;
   
}

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 46px ;
    
}
.logo {
  position: relative;
}
.logo-text {
display: inline-block;
padding-top: 51px;
}

.logo_text_milan {
margin: 0;
font-family: Roboto;
font-size: 29px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0px;
color: #FFFFFF
}

.logo:hover h2{

    color: #F26522;
  }
  .logo:hover .photo-logo-orange{

    opacity: 1;
  }
  .photo-logo-orange {
    position: absolute;
    left: 0;
    bottom: 18px;
    opacity: 0;
  }


.logo_text_holidays {
    margin-top: 0;
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0px;

color: #FFFFFF;

}

.Header-contact {
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
color: #FFFFFF;
}
.Header-contact:hover {
  color: #F26522; 
}

.Header-coll {
padding-top: 19px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: right;
color: #FFFFFF;
}
.Header-coll:hover {
  color: #F26522; 

}

.photo_tour{
  width: 100%;
}

.photo_tour_name {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding-top: 20px;
  transition: all .3s;

}
.photo_tour_name:hover {
  color: #F26522;
}
.header_menu_central_item {
  position: relative;
}
.header_menu_central_item:hover .information_tours {
  opacity: 1;


}
.header_menu_central_side {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 60px;
    padding: 0;
    margin-bottom: 50px;
    list-style-type: none;
  }

  
  .information_tours {
    left: 1px;
    position: absolute;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    bottom: 80px;
    opacity: 0;
    transition: all .3s
  }

  .tours {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    padding: 7px 16px 8px;
  }
  
  .price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    padding-left: 16px;
    margin: 0;
    position: relative;
    bottom: 15px;
  }
  
  .details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    position: absolute;
    left: 180px;
    bottom: -6px;
  }
  
  .details::after {
    content: '>';
    display: inline-block;
    padding-left: 16px;
  }
  
  .footer_text {
   text-align: center;
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 0px;
   color: #FFFFFF;
  }